.bg-honda{
    background-color: #264653;
    ;
}
.btn-bg{
    background-color: #E76F51;
    ;
}
.font{
    font-family: 'Poppins', sans-serif;
}
.txt-clr{
    color: #E0E0E0;
}
.txt-clr-2{
    color: #E76F51;
}
.gray{
    filter: grayscale(100%);
}
.box{
    width: 332px;
}
